.board{

  background: linear-gradient(to right, rgb(224, 73, 73), rgb(77, 192, 77));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
  padding: 10px;
  font-size: xx-large;
  width: 100px;
  height: 100px;
  float: left;
  font-weight: bold;
}
.status{
  margin-bottom: 20px;
  font-size: x-large;
  font-weight: bold;
}
.reset {
  width: 190px;
  height: 80px;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #1f3540;
  font-size: 22px;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 25px

}